.venv/
__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.idea/
.vscode/
dist/
build/
*.pyc
*.pyo
*.egg-info/
*.log
.DS_Store
env/
infra/env/*.env
/services/**/config.yaml
/services/**/.env
/infra/k8s/**/secrets.yaml
/.coverage
coverage.xml
**/.ruff_cache

